:root {
	--hsl-primary-black: 0 0% 20%;

	--clr-primary-black: hsl(--hsl-primary-black);
	--clr-primary-white: #fff;
	--clr-light-gray: hsl(0, 0%, 74%);
	--clr-dark-gray: hsl(0, 0%, 31%);
	--clr-accent: hsl(7, 100%, 68%);

	--ff-main: 'Space Mono', monospace;
	--ff-digital: 'Inconsolata', monospace;
	--ff-secondary: 'Montserrat', sans-serif;
}

/* reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
}

p,
h1,
h2 {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* typography */
body {
	font-family: var(--ff-main);
	color: var(--clr-primary-black);
}

footer {
	font-family: var(--ff-secondary);
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--clr-light-gray);
}

a {
	font-weight: 700;
}

.title {
	font-family: var(--ff-digital);
	font-size: 1.5rem;
	text-transform: uppercase;
}

.h1 {
	font-size: 3rem;
	font-weight: 700;
}

/* link styling */
a {
	transition: color 250ms, background-color 250ms;
}

footer a {
	color: inherit;
}

a.btn {
	display: inline-block;
	font-size: 0.875rem;
	text-transform: uppercase;
	text-align: center;
	background-color: hsl(var(--hsl-primary-black) / var(--alpha, 1));
	color: var(--clr-primary-white);
	padding: 1.5rem 2.75rem;
}

a:hover,
a:focus {
	color: var(--clr-accent);
}

a.btn:hover,
a.btn:focus {
	--alpha: 0.8;
}

/* layout & general styling */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	padding: 1.25em 1.5em;
}

main {
	margin-top: 4em;
	flex: 1;
}

main .h1 {
	margin-right: -0.5em;
	letter-spacing: -2px;
}

main > img {
	width: 82%;
	margin: auto;
}

.content {
	margin-top: 3.75rem;
}

.content > p {
	color: var(--clr-dark-gray);
	margin: 1.8em 0 4em;
}

footer {
	margin-top: 3em;
	text-align: center;
}

/* media queries */
@media screen and (min-width: 890px) {
	.title {
		margin-left: 4.75rem;
	}
	main {
		max-width: 70rem;
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3em;
	}
	main > img {
		max-width: 540px;
	}
	main .h1 {
		margin-right: unset;
	}
	.content > *:not(.btn) {
		width: 80%;
	}
	.content > p {
		max-width: 17rem;
	}
}
